#### Multiply 10 with 5, and print the result.

In [ ]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [ ]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [ ]:
fruits = ["banana", "orange", "mango","apple"]

if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list")
else:
  print("No, 'apple' is not in the fruits list")

Yes, 'apple' is in the fruits list

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [ ]:
if 5!=10 :
  print ("5 is not equal to 10")
else :
  print ( " 5 is equal to 10")

5 is not equal to 10

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
if 5!=10 or 5==10 :
  print ("at least one of two statements is True ")
else :
  print ( " two statements are false")

at least one of two statements is True

### Print the second item in the fruits list.

In [ ]:
fruits[1]

'orange'

### Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits[3]="kiwi"
print(fruits)

['banana', 'orange', 'mango', 'kiwi']

### Use the append method to add "orange" to the fruits list.

In [ ]:
fruits.append("orange")
print(fruits)

['banana', 'orange', 'mango', 'kiwi', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits.insert(1,"lemon")
print(fruits)

['banana', 'lemon', 'orange', 'mango', 'kiwi', 'orange']

### Use the remove method to remove `"banana"` from the fruits list.

In [ ]:
fruits.remove("banana")
print(fruits)

['lemon', 'orange', 'mango', 'kiwi', 'orange']

### Use negative indexing to print the last item in the list.

In [ ]:
print(fruits[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
print(fruits[2:5:1])

['mango', 'kiwi', 'orange']

### Use the correct syntax to print the number of items in the list.

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [ ]:
numbers=[386,462,47,418,907,344,236,375,823,566,597,978,328,615,953,345,399,162,758,219,918,237,412,566,826,248,866,950,626,949,687,217,815,67,104,58,512,24,892,894,767,553,81,379,843,831,445,742,717,958,743,527]

In [ ]:
  for n in numbers:
    if n % 2 == 0:
      print(n)
    if n == 237:
      break

386
462
418
344
236
566
978
328
162
758
918

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
b=10
h=20
Area=(0.5*b*h)
print(Area)

100.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
min=3
middle=7
max=8
list_of_num=[min,middle,max]

In [ ]:
list_of_num.sort()
print(list_of_num)

[3, 7, 8]

### Sort three integers :using conditional statements

In [ ]:
if min<middle and min<max:
  list_of_num[0]=min
if middle>min and middle<max:
  list_of_num[1]=middle
if max>min and max>middle:
  list_of_num[2]=max
else:
  print("max<middle<min")
print(list_of_num)

[3, 7, 8]

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [ ]:
Se1=[2,4,5,7,9]
Se2=[2,4,5,5,7,9]

In [ ]:
for i in Se1:
  if Se1.count(i)>1:
    print(i,"uniqueness failed")
  else:
      print(i,"true")

2 true
4 true
5 true
7 true
9 true

In [ ]:
for i in Se2:
  if Se2.count(i)>1:
    print(i,"uniqueness failed")
  else:
      print(i,"true")

2 true
4 true
5 uniqueness failed
5 uniqueness failed
7 true
9 true

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
dict2 = {'a': 100, 'b': 200, 'c': 300}
ll=list(dict2.values())

In [ ]:
sum(ll)

600

In [ ]:
dict3={'x': 25, 'y':18, 'z':45}
ll3=list(dict3.values())

In [ ]:
sum(ll3)

88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [ ]:
L1=list(dict1.values())
print(L1)
sum(L1)

[200, 300]

500

### Filter the negative values from given dictionary

In [ ]:
if L1[0]<0:
  print(L1[0],  "is a negative value")
if L1[1]<0:
  print(l1[1], "is a negative value")
else:
  print (" there is no negative value in dict")

 there is no negative value in dict

### Test if all Values are Same in Dictionary

In [ ]:
if L1[0]==L1[1]:
  print("all values are same")
else:
  print("all values are not same")

all values are not same

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

### Calculate the sum of all numbers from 0 to a given number

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [156]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [177]:
for i in my_list:
  print(my_list[-1:-10:-2][::-1])

[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]

### Calculate the cube of all numbers from 1 to a given number

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [104]:
vowels={"u","i","o","a","e"}

In [107]:
A="egyption electricty holding company"
A1=A.split()
print(A1)

['egyption', 'electricty', 'holding', 'company']

In [108]:
for i in vowels:
  if i==A1[0]:
    print(i,count(i))


### Write a Python program to add an item to a tuple.

In [145]:
T1=(1,2,3,4,5)
xx=25

In [148]:
T2=T1+(xx,)
T2

(1, 2, 3, 4, 5, 25)

### Write a Python program to multiply all the items in a list.

In [149]:
S11=list(T2)
S11

[1, 2, 3, 4, 5, 25]

In [150]:
print(S11[0]*S11[1]*S11[2]*S11[3]*S11[4]*S11[5])

3000

### Write a Python program to get the smallest number from a list.

In [153]:
print(min(S11))

1

### Write a Python program to get the largest number from a list.

In [154]:
print(max(S11))

25

### Write a Python program to clone or copy a list

In [155]:
S12=S11.copy()
S12

[1, 2, 3, 4, 5, 25]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [144]:
k = {0, 1, 3, 4, 5}

In [143]:
k.remove(5)
k

{0, 1, 3, 4}

### Write a Python program to find the maximum and minimum values in a set.

In [129]:
s = {0, 1, 3, 4, 5}

In [131]:
S1=list(s)
S1

[0, 1, 3, 4, 5]

In [135]:
del max

In [138]:
del min

In [136]:
print(max(S1))

5

In [139]:
print(min(S1))

0

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [115]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [121]:
L11=list(Sample_list[0])

In [122]:
L11

[10, 20, 40]

In [125]:
L11[2]=100
L11=tuple(L11)
L11

(10, 20, 100)

In [123]:
L12=list(Sample_list[1])
L12

[40, 50, 60]

In [126]:
L12[2]=100
L12=tuple(L12)
L12

(40, 50, 100)

In [124]:
L13=list(Sample_list[2])
L13

[70, 80, 90]

In [127]:
L13[2]=100
L13=tuple(L13)
L13

(70, 80, 100)

In [128]:
sample_list_1=[L11,L12,L13]
sample_list_1

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]